#break-word {
  word-wrap: break-word;
}

.event {
	padding: 0px;
	width: 100%;
	height: 500px;
	background: url(p1.jpg) center center no-repeat;
	background-size: cover;

	&:before {
	background: linear-gradient(to bottom right,red, black);
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .6;
	}
}

.logo {
	margin-right: 10px;
}

.ticket-c {
	width: 100%;
	position: relative;
}

.ticket-i {
	position: absolute;
	left: -2.5%;
	top: -2.5%;
	//width: 100%;
	filter: blur(4px);
	width: 105%;
	animation-name: brighten3;
	animation-duration: 0.2s;
}

.ticket-name {
	margin: 0px;
	margin-top: 20px;
	height: 40px;
	color: white;
	text-transform: uppercase;
	font-weight: 1200;
	padding: auto;
}

.ticket {
	max-width: 100%;
	padding-top: 100%;
	position: relative;
}

.ticket1 {
	position: absolute;
	top:0;
	left:0;
	background-color: rgba(255, 0, 0, 0.5);
}

.ticket-section {
	height: 40%;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
}

.ticket-section2 {
	padding-top: 20px;
	height: 40%;
	position: absolute;
	top:40%;
	left:0;
	width: 100%;
	background-color: rgb(20,20,20);
}

.ticket-container {
	max-width: 100%;
	padding-top: 80%;
	position: relative;
	background-color: gray;
	margin: 0px;
	overflow: hidden;
	border: 20px lightgray;
	border-radius: 5px;
	top: 0;
	left: 0;
	z-index: 4;
}
.ticket-overlay,
.ticket-image {
	width: 100%;
	min-height: 400px;
	padding-top: 100%;
	position: absolute;
	max-height: 700px;
	top: 0;
	left: 0;
	overflow: hidden;
}

.ticket-overlay {
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.4);
}

.ticket-name{
	background-color: lightblue;
}

.ticket-info-top {
	width: 100%;
	position: absolute;
	top: 5%;
  left: 0;
}

.ticket-info-bot {
	width: 100%;
	position: absolute;
	bottom: 5%;
  left: 0;
}

.info {
	margin: 1rem;
	line-height: 30%;
	text-shadow: 0px 3px 8px #000;
}

.info-small {
	line-height: 10%;
	margin: 1rem;
	font-weight: 200;
	text-transform: uppercase;
	text-shadow: 0px 2px 6px #000;
}

.custom-col {
	min-width: 400px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

@keyframes brighten {
	from{background-color: rgba(0, 0, 0, 0.4);}
	to{background-color: rgba(0, 0, 0, 0.2);}
}

@keyframes brighten2 {
	from{
		width: 105%;
		filter: blur(4px);
		left: -2.5%;
		top: -2.5%;
	}
	to{
		width: 101%;
		filter: blur(0px);
		left: 0;
		top: 0;
	}
}

@keyframes brighten3 {
	from{
		width: 101%;
		filter: blur(0px);
		left: 0;
		top: 0;
	}
	to{
		width: 105%;
		filter: blur(4px);
		left: -2.5%;
		top: -2.5%;
	}
}

.custom-col:hover .ticket-overlay {
	animation-name: brighten;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}

.custom-col:hover .ticket-i {
	animation-name: brighten2;
	animation-duration: 0.4s;
	transition: opacity 0.4s ease-in-out;
  animation-fill-mode: forwards;
}

.reklama {
	background-color: rgb(40,40,40);
	height: 100px;
	text-transform: uppercase;
	position:relative;
	width: 100%;
	bottom: 10px;
}

.aktivizet {
	display: inline-block;
	background-color: black;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	height: 70px;
	padding: 18px;
	margin: 0px;
	margin-top: 60px;
	text-transform: uppercase;
	font-weight: bold;
	width: 45%;
}

.pardot {
	display: inline-block;
	margin-top: 0px;
}

html {
  font-size: 1rem;
}




.row{
     white-space: nowrap;
}
.row .col-lg{
     display: inline-block;
}

.t-info{
		height: 88vh;
}

.t-img {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	filter: brightness(40%);
}

.ticket-jaunumi {
	margin-bottom: 20px;
}

#map{
	//filter: grayscale(50%);

	//filter: saturate(0%);
	filter: invert(80%) hue-rotate(180deg) contrast(170%) saturate(20%) brightness(200%) grayscale(100%);
	//filter: hue-rotate(180deg);
}

.pazinojums {
	//background-color: #000;
	line-height: 10px;
	list-style-type: none;
}

.nosaukums {
	position: absolute;
	top:55px;
	width:100%;
	left:0;
}

.panel-login {
	padding: 20px 0;
	border-color: #ccc;
	-webkit-box-shadow: 0px 10px 6px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 10px 6px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 10px 6px 2px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255, 0.7);
	min-width: 350px;
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color:  rgba(255,255,255, 0.2);
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.screen-size {
	padding-top: 25vh;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	background-image: url("assets/images/bg1.jpg");
}

.ticket-bg {
	padding-top: 0;
	background-image: none;
}

#animate-blur {
	animation: blur-bright 5s infinite linear;
}

@keyframes blur-bright {
	0% {
		filter: blur(0px);
		filter: brightness(100%);
		filter: saturate(100%);
		rotati
	}
	50% {
		filter: blur(4px);
		filter: brightness(70%);
		filter: saturate(160%);
	}

	100% {
		filter: blur(0px);
		filter: brightness(100%);
		filter: saturate(100%);
	}
}

.pasakuma-plans {
	margin-top: 10px;
}
